html{
    margin: 0;
}
.nav-item-hover:hover{
    color: #fff;
    background-color: #007bff;
    border-radius: .25rem;
}
.nav-link-hover:hover{
    color: #fff;
}
.nav-center{
    height: 100%;
    align-items: center
}
.nav-text{
    font-size: 1.1em;
}

@media (max-width: 1030px){
    .nav-text{
        font-size: 1.6em;
    }
}
@media (max-width: 500px){
    .nav-text{
        font-size: 1em;
    }
}
.cards-about_us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.card-size{
    width: 21rem !important; 
}
.card-text{
    text-align: center;
}
.about_us{
    display: block !important;
}
.about_us-heading{
    text-align: center;
}
.nav-right{
    align-items: flex-start;
}
@media (max-width: 700px){
    .row-media{
        display: block !important;
    }
}
.vacancies-heading{
    margin: auto;
}