.display_flex{
    display: flex;
}
.nav_bar{
    width: 50%;
    flex-wrap: wrap;
}
.nav_bar_a{    
    text-decoration: none;    
}
.nav_bar_a {    
    color: white;
    background: linear-gradient(#0003cc, #3898ff);
    padding: 0.4em 0.8em;
    border-radius: 10px;
  } 
  .nav_bar_a:hover {
    color:white;
    background: linear-gradient(#3898ff, #0003cc);
    padding: 0.4em 0.8em;
    border-radius: 10px;
  }
.nav_bar_li{
    margin: auto;   
    list-style-type: none;
    padding: 0 20px;
}
.logo{
    width: 50%;
    border: none;
}
.logo_img{
    display: block;
    padding-left: 20px;
}