.display_flex {
  display: flex;
}
.nav_bar {
  width: 50%;
  flex-wrap: wrap;
  padding: 0 20px;
}
.nav_bar_a {
  text-decoration: none;
}
.nav_bar_a {
  padding: 0.6em 0.9em;
  border-radius: 5px;
}
.nav_bar_li {
  margin: auto;
  list-style-type: none;
}
.logo {
  width: 50%;
  border: none;
}
.logo_img {
  display: block;
  padding-left: 20px;
}
.content {
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 1240px) {
  .nav_bar {
    display: block;
  }
  .nav_bar_li {
    width: 50%;
    margin: 23px 0 0 auto;
  }
  .nav_bar_a {
    display: block;
    text-align: center;
  }
  .dark {
    display: block;
  }
  .darkUl {
    display: flex;
    justify-content: space-between;
    width: auto;
  }
  .darkLi {
    width: 20%;
    margin: 23px 0 0 0;
  }
}
@media screen and (max-width: 700px) {
  .nav_bar_li {
    width: 100%;
  }
  .nav_bar_a {
    padding: 0.6em 0;
  }
}
.dark {
  padding: 25px 0;
}

.lightButton {
  min-width: 120px;
  cursor: pointer;
  height: 32px;
  outline: none;
  text-decoration: none;
  color: black;
  background: transparent;
  /*padding: 0.4em 0.8em;*/
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px 0 20px 20px;
}
.darkButton {
  min-width: 120px;
  cursor: pointer;
  height: 32px;
  outline: none;
  text-decoration: none;
  color: white;
  background: transparent;
  border: 2px solid white;
  /*padding: 0.4em 0.8em;*/
  border-radius: 5px;
  margin: 5px 0 0 20px;
  opacity: 0.65;
}

.dark_a {
  border: 2px solid white;
  color: white;
  opacity: 0.65;
}
.dark_a:hover {
  border: 2px solid #2bd8ff;
  color: #2bd8ff;
  opacity: 0.65;
  transition: 0.5s;
  text-decoration: none;
}

.light_a {
  color: white;
  background: #4676d7;
}
.light_a:hover {
  color: white;
  background: #1d49aa;
  text-decoration: none;
}
