.buttonLi {
  list-style-type: none;
}
.button {
  height: auto !important;
  display: block;
  margin: auto;
  cursor: pointer;
  min-width: 165px;
  width: 80%;
  height: 32px;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
}
.buttonUl {
  display: block;
  width: 100%;
  padding: 0;
}

.lightButton {
  color: white;
  background: #4676d7;
}
.lightButton:hover {
  color: white;
  background: #1d49aa;
}
.activeLightButton {
  outline: none;
  text-decoration: none;
  border: 0;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.lightButton:focus {
  outline: none;
}
.darkButton {
  background: transparent;
  border: 2px solid white;
  color: white;
  opacity: 0.65;
}
.activeDarkButton {
  border: 2px solid #2bd8ff;
  color: #2bd8ff;
  opacity: 0.65;
}

@media screen and (max-width: 1120px) {
  .button {
    width: 90%;
  }
}
