.display_flex {
  display: flex;
}
.nav_bar_li_partners {
  margin: 0 10px;
}
.nav_bar_ul_partners {
  justify-content: flex-end;
}
.content_div {
  display: flex;
  padding: 50px 20px;
}
.partners_img {
  max-width: 100%;
  height: auto;
  padding: 0 25px;
}
.partners_text {
  margin: auto;
  padding: 0 50px;
}
@media screen and (min-width: 768px) and (max-width: 1460px) {
  .nav_bar_ul_partners {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .display_flex {
    display: block;
  }
  .partners_img {
    width: auto;
    display: block;
    margin: auto;
    padding: 0;
  }
  .partners_text {
    width: auto;
    margin: 20px auto;
    padding: 0;
  }
  .nav_bar_li_partners {
    width: 50%;
    margin: 25px auto;
    text-align: center;
  }
  .content_div {
    display: block;
  }
  .nav_bar_ul_partners {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 570px) {
  .nav_bar_li_partners {
    width: 90%;
  }
}
.content {
  max-width: 1440px;
  margin: auto;
}
.darkText {
  color: #fff;
  opacity: 0.65;
}
