.vacancies {
  display: flex;
}
.vacanciesNavbarUl {
  display: block;
  width: 100%;
}
.vacanciesNavbarElement {
  margin: 10px auto;
}
.VacanciesNavbar {
  width: 30%;
}
.VacanciesContent {
  width: 70%;
}
.vacanciesInfos {
  width: 70%;
  margin: auto;
}
.content_text_span {
  font-weight: bold;
}
.middle {
  text-decoration: none;
}
@media screen and (max-width: 965px) {
  .vacancies {
    display: block;
  }
  .VacanciesContent {
    width: 100%;
  }
  .VacanciesNavbar {
    width: 100%;
  }
  .vacanciesNavbarElement {
    width: 50%;
    padding: 0;
    text-align: center;
  }
  .vacanciesButtonUl {
    padding: 0;
  }
  .vacanciesInfos {
    width: auto;
    margin: 0 20px;
  }
}
.content {
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 570px) {
  .vacanciesNavbarElement {
    width: 100%;
  }
}
