.vacancies {
  display: flex;
}
.vacanciesNavbarUl {
  display: block;
  width: 100%;
}
.vacanciesNavbarElement {
  margin: 10px auto;
}
.VacanciesNavbar {
  width: 40%;
}
.VacanciesContent {
  width: 60%;
}
.vacanciesInfos {
  width: 90%;
  margin: auto;
}
.content_text_span {
  font-weight: bold;
}
.middle {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1024px) {
  .vacancies {
    display: block;
  }
  .VacanciesContent {
    width: 100%;
  }
  .VacanciesNavbar {
    width: 100%;
  }
  .vacanciesNavbarElement {
    width: 50%;
    padding: 0;
    text-align: center;
  }
  .vacanciesButtonUl {
    padding: 0;
  }
  .vacanciesInfos {
    width: auto;
    margin: 0 20px;
  }
}
.content {
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 698px) {
  .vacanciesNavbarElement {
    width: 90%;
  }
}
.darkText {
  color: #fff;
  opacity: 0.65;
}
.darkA {
  color: #fff;
}
