.display_flex {
  display: flex;
}
.display_block {
  display: block;
}
.input_form {
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 80%;
  color: #000;
  font-size: 14px;
  font-family: Tahoma;
  margin: 10px 0 10px 45px;
  display: block;
  padding: 0 5px;
}
.input_form_textarea {
  height: auto;
}

.form {
  width: 50%;
}

.btn {
  color: white;
  background: linear-gradient(#0003cc, #3898ff);
  padding: 0.4em 0.8em;
  border-radius: 10px;
  margin-left: 45px;
  outline: none;
  border: 0;
  margin-bottom: 25px;
}
.btn:hover {
  color: white;
  background: linear-gradient(#3898ff, #0003cc);
  padding: 0.4em 0.8em;
  border-radius: 10px;
}
.a {
  text-decoration: none;
}
.contacts_info {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .display_flex {
    display: block;
  }
  .form {
    width: 100%;
  }
  .btn {
    margin-left: 20px;
  }
  .input_form {
    width: 90%;
    margin: 10px 20px 10px 20px;
  }
}
