.content {
  max-width: 1440px;
  margin: auto;
}
.display_flex {
  display: flex;
}
.display_block {
  display: block;
}
.input_form {
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 80%;
  color: #000;
  font-size: 14px;
  font-family: Tahoma;
  margin: 10px 0 10px 45px;
  display: block;
  padding: 0 5px;
}
.input_form_textarea {
  resize: none;
  height: auto;
}

.form {
  width: 50%;
}

.btn {
  min-width: 120px;
  padding: 0.6em 0.9em;
  border-radius: 5px;
  margin-left: 45px;
  outline: none;
  border: 0;
  margin-bottom: 25px;
}
.a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}
.contacts_info {
  padding-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .display_flex {
    display: block;
  }
  .form {
    width: 100%;
  }
  .btn {
    margin: auto;
    display: block;
    width: 50%;
    height: 32px;
  }
  .input_form {
    width: 90%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 370px) {
  .a {
    font-size: 1em;
  }
}
.darkText {
  color: #fff;
  opacity: 0.65;
}
.darkForm {
  opacity: 0.65;
}
.lightBtn {
  cursor: pointer;
  color: white;
  background: #4676d7;
}
.lightBtn:hover {
  color: white;
  background: #1d49aa;
}
.darkBtn {
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  color: white;
  opacity: 0.65;
}
.darkBtn:hover {
  border: 2px solid #2bd8ff;
  color: #2bd8ff;
  opacity: 0.65;
  transition: 0.5s;
}
